.CheckBoxs{
    margin-top:20px;
    display:grid;
    grid-template-columns:repeat(8,1fr);
    grid-row-gap:10px;
}

@media screen and (max-width:600px){
    .checkbox{
        font-size:14px;
    }
    .CheckBoxs{
        font-size:14px;
        grid-template-columns:repeat(5,1fr)
 
    }
}

@media screen and (max-height:700px){
    .checkbox{
        font-size:14px;
    }
    .CheckBoxs{
        font-size:14px;
        grid-template-columns:repeat(10,1fr)
    }
.modalActive{
    opacity:1;
    z-index:1;
}