.graph-container{
    height:40vh;
    width:95vw;
    position:relative;
    padding-left:20px;
    padding-right:0;
}

.y-label{
    font-size:16px;
    letter-spacing:1px;

    position:absolute;
    top:-5px;
    left: 22px;
}

.x-label{
    font-size:16px;
    letter-spacing:1px;
    position:absolute;
    bottom:0;
    right:-20px;
}

@media screen and (max-width:600px){
    .graph-container{
        width:85vw;
    }
}

@media screen and (max-height:650px){
    .graph-container{
        height:55vh;
    }
}

@media screen and (max-height:460px){
    .graphHeading{
        display:none;
    }

    .graph-container{
        margin-top:20px;
    }
}

@media screen and (max-width:760px){
    .graph-container{
        height:55vh;
    }
}