@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;500&display=swap');

.graph-container{
    height:40vh;
    width:90vw;
    position:relative;
    padding-left:20px;
    padding-right:0;
}

.graph-heading{
    font-family:'Noto Sans JP',sans-serif;
}

.y-label{
    font-family:'Noto Sans JP',sans-serif;
    font-size:16px;
    letter-spacing:1px;
    font-weight:bold;

    position:absolute;
    top:-5px;
    left: 22px;
}

.x-label{
    font-family:'Noto Sans JP',sans-serif;
    font-weight:bold;
    font-size:16px;
    letter-spacing:1px;
    position:absolute;
    bottom:0;
    right:-20px;
}

@media screen and (max-width:600px){
    .graph-container{
        width:85vw;
    }
}

@media screen and (max-height:650px){
    .graph-container{
        height:55vh;
    }
}

@media screen and (max-height:460px){
    .graphHeading{
        display:none;
    }

    .graph-container{
        margin-top:20px;
    }
}

@media screen and (max-width:760px){
    .graph-container{
        height:55vh;
    }
}